p {
    font-size: 30px;
    color: green;
}

div>p {
    color: blue;
}

div~p {
    color: red;
}

div+p {
    color: yellow;
}

body {
    background-color: grey;
}

p[class~="titi"]{
    color : white;
}

.titi {
    color:white;
}

